section(data-ng-controller="OrganizationsController", data-ng-init="findOne()")
  h1(data-ng-bind="organization.name")

  div(data-ng-show="authentication.user._id == organization.creator._id")
    a(href="/#!/organizations/{{organization._id}}/edit") edit
    a(href="#" data-ng-click="delete();") delete

  small
    em Posted on
    em(data-ng-bind="organization.created | date:'mediumDate'")
    em by
    em(data-ng-bind="organization.creator.name.first")

  p(data-ng-bind="organization.notes")
