doctype html
//- {# index.html/htmltag #}
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title ANGULAR SANDBOX
    meta(name="description", content="")
    meta(name=viewport, content="width=device-width, initial-scale=1")
    //- {# index.html/head/appletouch #}
    
    // build:css css/main.min.css
    
    //- {# index.html/head/styleslib #}

    
    
    //- {# index.html/head/styleslib2 #}
    //- {# index.html/head/styleslib3 #}
    //- {# index.html/head/stylesheet #}
    
     

    //- {# index.html/head/html5polyfill #}

    // bower:css
    // endbower

    // endbuild
    
    
    
    //- {# index.html/head/respond #}

  body(ng-app='app')
    //- {# index.html/body/firstbody #}
    //- {# index.html/body/content #}
    
    div(ng-controller='OrganizationsController', class='container')
        h1 Organizations
        form(role='form')
            div(class='form-group')
                div(class='input-group')
                    input(ng-model='organizationNotes', class='form-control')
                    span(class='input-group-btn')
                        button(ng-click='addOrganization()', class='btn btn-default') Add organization
        ul(class='list-group')
            li(ng-repeat="organization in organizations | orderBy: '-created'", class='list-group-item')
                strong @{{ organization.name }}
                span {{ organization.notes }}

    // build:js js/app.min.js

    //- {# index.html/body/jslib #}
    //- {# index.html/body/buildcommentjsstart #}
    //- {# index.html/body/jslib2 #}
    //- {# index.html/body/myjs #}

    // bower:js
    // endbower

    script(type='text/javascript', src="js/app.js")

    //- {# index.html/body/buildcommentjsend #}
    //- {# index.html/body/end #}
    //- {# index.html/body/end5 #}

    // endbuild
