// build:js js/app.min.js
//- {# index.html/body/jslib #}
//- {# index.html/body/buildcommentjsstart #}
//- {# index.html/body/jslib2 #}
//- {# index.html/body/myjs #}
// bower:js
// endbower
script(type='text/javascript', src="js/app.js")
//- {# index.html/body/buildcommentjsend #}
//- {# index.html/body/end #}
//- {# index.html/body/end5 #}
// endbuild
