# Ignored files and directories.
# 2012-2014 3E Enterprises, LLC

# .gitkeep files are used to maintain directories.
!.gitkeep

# Vagrant data files.
/.vagrant

# Ignore puppet files
/puppet/.tmp
/puppet/modules/*
!/puppet/modules/.gitkeep
/puppet/Puppetfile.lock

# Ignore DS_Store files
.DS_Store

# Ignore logs
npm-debug.log

# Ignore example projects
/example*/