<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- the title from the page -->
    <title>{{title}}</title>
</head>
<body>
  
  <div class="wrapper">
    <!-- The body of the page -->
    {{>body}}
  </div>

</body>
</html>