doctype html
//- {# index.html/htmltag #}
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title
    meta(name="description", content="")
    meta(name=viewport, content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet", href="css/main.css")
    //- {# index.html/head/appletouch #}
    //- {# index.html/head/styleslib #}
    //- {# index.html/head/styleslib2 #}
    //- {# index.html/head/styleslib3 #}
    //- {# index.html/head/stylesheet #}
    //- {# index.html/head/html5polyfill #}
    <% if (initializrModules.indexOf('modernizr') != -1) { %>
    include ./initializr/modernizr/modernizr.jade
    <% } %>

    //- {# index.html/head/respond #}
  body
    //- {# index.html/body/firstbody #}
    //- {# index.html/body/content #}
    <% if (initializrModules.indexOf('h5bp-content') != -1) { %>
    include ./initializr/h5bp-content/content.jade
    <% } %>
    //- {# index.html/body/jslib #}
    //- {# index.html/body/buildcommentjsstart #}
    //- {# index.html/body/jslib2 #}
    //- {# index.html/body/myjs #}
    //- {# index.html/body/buildcommentjsend #}
    //- {# index.html/body/end #}
    //- {# index.html/body/end5 #}
