extends ./bases/base.jade

block content
  each message, index in messages
    div(class="flash")= message
    
  form(action='/signup', method='post')
    div
      label First name:
      input(type='text', name='name.first')
    div
      label Last name:
      input(type='text', name='name.last')
    div
      label Email:
      input(type='text', name='email')
    div
      label Username:
      input(type='text', name='username')
    div
      label Password:
      input(type='password', name='password')
    div
      input(type='submit', value='Sign up')

  p
    a(href="/signin") Sign in
