doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title #{title}
    meta(name="description", content="")
    meta(name=viewport, content="width=device-width, initial-scale=1")

  body
    each message, index in messages
      div(class="flash")= message
      
    form(action='/signin', method='post')
      div
        label Username:
        input(type='text', name='username')
      div
        label Password:
        input(type='password', name='password')
      div
        input(type='submit', value='Sign in')

    p
      a(href="/signup") Sign up