doctype html
//- {# index.html/htmltag #}
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title #{title}
    meta(name="description", content="")
    meta(name=viewport, content="width=device-width, initial-scale=1")
    //- {# index.html/head/appletouch #}
    include ../includes/cssBlock.html
    //- {# index.html/head/respond #}

  body
    //- {# index.html/body/firstbody #}
    //- {# index.html/body/content #}
    block content

    if (user)
        script.
            window.user = !{JSON.stringify(user)};
    else
        script.
            window.user = null;

    include ../includes/jsBlock.html